
<!DOCTYPE html>
<html>

<meta charset="UTF-8">
<script src="static/jquery-3.4.1.min.js"></script>
<script src="static/tsne.js"></script>
<script src="static/vue.min.js"></script>

<script id="MathJax-script" async src="static/mathjax/tex-mml-chtml.js"></script>

<script src="static/d3.v5.min.js"></script>

<script src="static/numeric.min.js"></script> <!-- https://github.com/sloisel/numeric -->
<script src="static/mds.js"></script> <!-- https://github.com/benfred/mds.js/tree/master -->
<script src="static/pca.min.js"></script> <!-- https://github.com/bitanath/pca -->

<script src="static/umap-js.min.js"></script> <!-- https://github.com/PAIR-code/umap-js -->

<script src="static/agnes.js"></script> <!-- agnes module from https://github.com/mljs/hclust --> 

<link rel="stylesheet" type="text/css" href="static/datatables/datatables.min.css"/>
<script type="text/javascript" src="static/datatables/datatables.min.js"></script>
<script type="text/javascript" src="static/datatables/Scroller-2.0.3/js/dataTables.scroller.min.js"></script>

<link rel="icon" href="favicon.ico" type="image/x-icon" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.3.2/math.min.js"></script>

<style>

.hidden {
    display: none;
}

div#tooltip {
    position: absolute;        
    display: inline-block;
    padding: 10px;
    font-family: 'Open Sans' sans-serif;
    font-size: small;
    color: #000;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 2px;
    pointer-events: none;
    opacity: 0;
    z-index: 1;
}

.exampleLink {
   color: steelblue;
   text-decoration: underline;

}

.exampleLink:hover {
    cursor: pointer;
}

/* To make data table even more compact! */
table.dataTable.compact tbody td {
    /* padding: 0px; */
    padding: 5px;
}

/* table.dataTable tbody td {
    word-wrap: break-word;
    word-break: break-all;
    max-width: 50px;
} */

</style>

<script>
MathJax = {
    tex: {
        tags: 'all'
    }
};
</script>

<head>
  <title>Lowest common ancestor algorithm in DAGs</title>
</head>

<body>
    <h1>Non-linear embedding of GO terms</h1>
    <div id="revigo">

        <scatter-plot :lcastatus="lcaStatus" 
                      :distmat="distmat" 
                      :nodedata="nodeData" 
                      :embeddingtype="embeddingType" 
                      :visualizationcontext="visualizationContext" 
                      :experimentdatatable="experimentDataTable" 
                      :experiments="experiments" 
                      :experimenthierarchy="experimentHierarchy"
                      @status=receiveStatusFromScatterPlot>
        </scatter-plot>

        <progress-box :loadingstatus="revigoStatus"></progress-box>
        <progress-box :loadingstatus="lcaStatus"></progress-box>

        <form v-if="multipleExperimentSetting">
            <input type="radio" 
                   id="go-go" 
                   value="go-go"
                   v-model="visualizationContext">
            <label for="go-go">GO-GO</label>
            <input type="radio"
                   id="go-ex"
                   value="go-ex"
                   v-model="visualizationContext">
            <label for="go-ex">GO-EX</label>
            <input type="radio"
                   id="ex-ex"
                   value="ex-ex"
                   v-model="visualizationContext">
            <label for="ex-ex">EX-EX</label>
        </form>

        <form v-if="visualizationContext!='initial'">

            <input v-if="visualizationContext!='go-ex'"
                   type="radio" 
                   id="tsne"
                   value="tsne"
                   v-model="embeddingType">
            <label v-if="visualizationContext!='go-ex'" for="tsne">t-SNE</label>
            <input v-if="visualizationContext!='go-ex'"
                   type="radio"
                   id="mds"
                   value="mds"
                   v-model="embeddingType">
            <label v-if="visualizationContext!='go-ex'" for="mds">MDS</label>
            <input v-if="visualizationContext!='go-ex'"
                   type="radio"
                   id="umap"
                   value="umap"
                   :disabled=umapdisabled
                   v-model="embeddingType">
            <label v-if="(visualizationContext!='go-ex')&&(!umapdisabled)" for="umap">UMAP</label>
            <label v-if="(visualizationContext!='go-ex')&&(umapdisabled)" for="umap">UMAP disabled</label>

            <input v-if="multipleExperimentSetting&&(visualizationContext=='go-ex')" 
                   type="radio" 
                   id="biplot" 
                   value="biplot" 
                   v-model="embeddingType">
            <label v-if="multipleExperimentSetting&&(visualizationContext=='go-ex')"
                   for="biplot">PCA biplot</label>

            <input v-if="multipleExperimentSetting&&(visualizationContext=='go-ex')" 
                   type="radio" 
                   id="network" 
                   value="network" 
                   v-model="embeddingType">
            <label v-if="multipleExperimentSetting&&(visualizationContext=='go-ex')"
                   for="network">Network</label>

            <input v-if="multipleExperimentSetting&&(visualizationContext=='ex-ex')"
                   type="radio" 
                   id="hierarchical" 
                   value="hierarchical" 
                   v-model="embeddingType">
            <label v-if="multipleExperimentSetting&&(visualizationContext=='ex-ex')"
                   for="hierarchical">Hierarchical</label>

        </form>

        <input-box @clicked="receiveDataFromChild"></input-box>

        <!-- Should only be visible when visualizing GO terms in multiple experiment setting -->
        <div v-if="multipleExperimentSetting&&!(visualizationContext=='ex-ex')">
            <br>
            Experiments:
            <br>
            <span v-for="(experiment,index) of experiments">
                <input type="radio" id=experiment :value=experiment v-model="selectedExperiment">
                <label for=experiment>{{experiment}}
                 <br>
            </span>
        </div>

        <!-- p-value threshold selector for SimGIC -->
        <!-- Should only be visible when visualizing experiments in multiple experiments setting -->
        <div v-if="multipleExperimentSetting && (visualizationContext=='ex-ex') "> 
            <br>
            p-value threshold for the SimGIC:
            <br>
            <span v-for="pvalue in pvalueThresholds">
                <input type="radio" id=pvalue :value=pvalue v-model="selectedPvalue">
                <label for=pvalue>{{pvalue}}
            </span>
        </div>

        <p>Select the ontology namespace:</p>
        <input type="radio" id="bio" value="biological processes" v-model="ontologyName">
        <label for="bio">biological processes</label>
        <br>
        <input type="radio" id="mol" value="molecular function" v-model="ontologyName">
        <label for="mol">molecular function</label>
        <br>
        <input type="radio" id="cell" value="cellular component" v-model="ontologyName">
        <label for="cell">cellular component</label>

        <div v-if="visualizationContext=='go-go'">
            <br>
            <p>Select the semantic similarity measure</p>
            <input type="radio" id="resnik" value="resnik" v-model="similarityMeasure">
            <label for="resnik">Resnik method \( sim(t_1,t_2) = IC(t_{LCA}) \)</label>
            <br>
            <input type="radio" id="lin" value="lin" v-model="similarityMeasure">
            <label for="lin">Lin method \( sim(t_1,t_2) = \frac{2 IC(t_{LCA})}{IC(t_1)+IC(t_2)} \)</label>
            <br>
            <input type="radio" id="rel" value="rel" v-model="similarityMeasure">
            <label for="rel">SimRel method \( sim(t_1,t_2) = \frac{2 IC(t_{LCA}) (1-p(t_{LCA}))}{IC(t_1)+IC(t_2)}  \)</label>
            <br>
            <input type="radio" id="jiang" value="jiang" v-model="similarityMeasure">
            <label for="jiang">Jiang method \( sim(t_1,t_2) = 1 - min(1, IC(t_1)+IC(t_2)-2IC(t_{LCA})) \)</label>
        </div>

        <br><br>
        <download-csv :distmat="distmat" 
                      :ontology="ontologyName" 
                      :similarity="similarityMeasure"
                      :visualizationcontext="visualizationContext">
        </download-csv>

        <br><br>
        <data-table :experimentenrichments="experimentEnrichmentsFilteredDAG"
                    :experiments="experiments"
                    :multipleexperimentsetting="multipleExperimentSetting"
                    :enrichmentsfiltereddag="enrichmentsFilteredDAG"
                    :names="names"
                    :remainingterms="final_remaining_terms"
                    :representatives="redundancyMap"
                    :experiment="selectedExperiment">
        </data-table>


    </div> 
</body>

<script type="text/javascript" src="static/revigo.js"></script>
<script type="text/javascript" src="static/lca.js"></script>

</html>


