
<!DOCTYPE html>
<html>

<meta charset="UTF-8">
<script src="static/jquery-3.4.1.min.js"></script>
<script src="static/tsne.js"></script>
<script src="static/vue.min.js"></script>
<!-- <script src="static/d3.v5.min.js"></script> -->

<head>
  <title>Lowest common ancestor algorithm in DAGs</title>
</head>

<body>
    <h1>t-SNE embedding of GO terms</h1>
    <div id="revigo">
        <scatter-plot :distmat="distmat" :enrichments="enrichmentsSelected" width=500 height=500></scatter-plot>
        <progress-box :data="loadingStatus"></progress-box>

        <p>Choose the ontology namespace:</p>
        <input type="radio" id="bio" value="biological processes" v-model="ontologyName">
        <label for="bio">biological processes</label>
        <br>
        <input type="radio" id="mol" value="molecular function" v-model="ontologyName">
        <label for="mol">molecular function</label>
        <br>
        <input type="radio" id="cell" value="cellular component" v-model="ontologyName">
        <label for="cell">cellular component</label>

    </div> 
</body>

<script type="text/javascript" src="static/revigo.js"></script>
<script type="text/javascript" src="static/lca.js"></script>

</html>


